<!DOCTYPE html>

<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StoreDoor</title>
  {% load static%}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <script type="text/javascript">
    var user = '{{request.user}}'

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
  </script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}" defer></script>
</head>


<body>
  <div class='Nav'>
    <a id="logo" href="/"><strong>StoreDoor</strong></a>

    <a href="/cart"><img id="cartpic" src="{% static 'images/cart.png' %}"></a>

    
  
    
    {% if user.is_authenticated %}
    <a href="/createProduct">createProduct</a>
    <a href="/logout_user">Logout</a>
    {% else %}
    <a href="/signup">signup</a>
    <a href="/login_user">Login</a>
    {% endif %}

  </div>


  {% block content %}


  {% endblock content %}


</body>

</html>