{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="storeContainer">
  

{% for product in products %}
<div class="projectCard">

 
<div>
   <img class="cardPic" src="{{product.imageURL}}"/>
</div>


<div class="cardText">
  <div class='projectTitle'>{{product.name}} </div>
  <div class='des'>${{product.price|floatformat:2}}</div>
  <div class='linkBox'>
      <button data-product={{product.id}} data-action="add" class="updateCart">Add to Cart</button>
      
  </div>
</div>
</div>




 
{% endfor %}
</div>
{% endblock content %}



